doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/dropzone.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/fileupload.js')
  body
    block content
